.header {
    margin-top: 10px;
    text-align: center;
}

.seach-text {
    margin-top: 10px;
}

.view_area {
    width: 200px;
    height: 300px;
    margin-top: 20px;
}

#id_count {
    width: 70px;
}